################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/JsonViewer/v16/Server/sqlite3
/obj/Debug
/.vs/JsonViewer/v16/.suo
/bin/Debug
/bin/Release
/obj/Release
/JsonViewer.csproj.user
